.modalBodyWithScroll {
    max-height: 400px; /* Altura máxima del body del modal */
    overflow-y: auto;  /* Activa el scroll vertical */
  }

.button{
    width: 100%;
    background-color: #2e86c1;
    border: none;

}

.button{
    background-color: #5dade2;
}

.colorOptions {
    margin: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .colorOption {
    width: 5rem;
    height: 5rem;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    margin-bottom: 10px; /* Espacio entre los tableros */
  }

  .colorOptionPiece {
    width: 6rem;
    height: 6rem;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    margin-bottom: 10px; /* Espacio entre los tableros */
  }

  .even{
     background: rgba(0, 0, 0, .2);
     width: 6rem;
     height: 6rem;
  }

  .evenPiece{
    background: rgba(0, 0, 0, .2);
    width: 7rem;
    height: 7rem;
 }

  .colorRow {
    position: relative;
    z-index: 1; 
    display: flex;
    align-items: center;
  }
  
  .colorBoard {
    width: 40px; /* Ajusta el tamaño según tus preferencias */
    height: 40px; /* Ajusta el tamaño según tus preferencias */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .colorBoardPiece {
    width: 50px; /* Ajusta el tamaño según tus preferencias */
    height: 50px; /* Ajusta el tamaño según tus preferencias */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .colorBoardPiece img{
    width: 95%;
    height: 95%;
    z-index: 2;
  }

 
  .icon{
    cursor: pointer;
    margin-left: 10px;
    margin-top: -4px;
  }

  
  
  