
.tercerdiv {
   background-color: #d1f2eb  ;
    -webkit-box-shadow: 0px 0px 0px 1px #4e8381 inset, 0px 0px 0px 2px #74b6b4 inset, 0px 4px 0px 0px #4a7c7b, 0px 5px 0px 0px #355655, 0px 8px 0px 0px rgba(0,0,0,.15);
	-moz-box-shadow: 0px 0px 0px 1px #4e8381 inset, 0px 0px 0px 2px #74b6b4 inset, 0px 4px 0px 0px #4a7c7b, 0px 5px 0px 0px #355655, 0px 8px 0px 0px rgba(0,0,0,.15);
	-ie-box-shadow: 0px 0px 0px 1px #4e8381 inset, 0px 0px 0px 2px #74b6b4 inset, 0px 4px 0px 0px #4a7c7b, 0px 5px 0px 0px #355655, 0px 8px 0px 0px rgba(0,0,0,.15);
	box-shadow: 0px 0px 0px 1px #4e8381 inset, 0px 0px 0px 2px #74b6b4 inset, 0px 4px 0px 0px #4a7c7b, 0px 5px 0px 0px #355655, 0px 8px 0px 0px rgba(0,0,0,.15);
    border-radius: 5px;
    color: #ffffff;
    text-align: center;
    margin-top: 2rem;
    width: 30rem;
    height: 30rem;
  }

  .tercerdiv:active {
    background-color: #5a9896;
    -webkit-box-shadow: 0px 0px 0px 1px #589391 inset, 0px 0px 0px 2px #65a9a7 inset, 0px 1px 0px 0px #355655, 0px 3px 0px 0px rgba(0,0,0,.15);
    -moz-box-shadow: 0px 0px 0px 1px #589391 inset, 0px 0px 0px 2px #65a9a7 inset, 0px 1px 0px 0px #355655, 0px 3px 0px 0px rgba(0,0,0,.15);
    -ie-box-shadow: 0px 0px 0px 1px #589391 inset, 0px 0px 0px 2px #65a9a7 inset, 0px 1px 0px 0px #355655, 0px 3px 0px 0px rgba(0,0,0,.15);
    box-shadow: 0px 0px 0px 1px #589391 inset, 0px 0px 0px 2px #65a9a7 inset, 0px 1px 0px 0px #355655, 0px 3px 0px 0px rgba(0,0,0,.15);
  }

  .icon {
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    -ie-border-radius: 13px;
    border-radius: 13px;
    background: rgba(0,0,0,.5);
    float: right;
    -webkit-box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2) inset, 0px 0px 0px 1px rgba(255,255,255,.2);
    -moz-box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2) inset, 0px 0px 0px 1px rgba(255,255,255,.2);
    -ie-box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2) inset, 0px 0px 0px 1px rgba(255,255,255,.2);
    box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2) inset, 0px 0px 0px 1px rgba(255,255,255,.2);
  }

  
  .title{
    font-family: "ADLaM Display", serif;
    border-radius: 4px 4px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    text-shadow: rgba(0,0,0,.5) 0px -1px 0px;
    font-size: 18px;
    font-weight: 800;
    background: linear-gradient(68.8deg, rgba(0, 0, 0, 0.95) 1.8%, rgb(0, 79, 57) 31.8%, rgb(17, 122, 101) 56.2%, rgb(171, 235, 198) 89%);
    -webkit-box-shadow: 0px 0px 0px 1px #4e8381 inset, 0px 0px 0px 2px #74b6b4 inset, 0px 4px 0px 0px #4a7c7b, 0px 5px 0px 0px #355655, 0px 8px 0px 0px rgba(0,0,0,.15);
    -moz-box-shadow: 0px 0px 0px 1px #4e8381 inset, 0px 0px 0px 2px #74b6b4 inset, 0px 4px 0px 0px #4a7c7b, 0px 5px 0px 0px #355655, 0px 8px 0px 0px rgba(0,0,0,.15);
    -ie-box-shadow: 0px 0px 0px 1px #4e8381 inset, 0px 0px 0px 2px #74b6b4 inset, 0px 4px 0px 0px #4a7c7b, 0px 5px 0px 0px #355655, 0px 8px 0px 0px rgba(0,0,0,.15);
    box-shadow: 0px 0px 0px 1px #4e8381 inset, 0px 0px 0px 2px #74b6b4 inset, 0px 4px 0px 0px #4a7c7b, 0px 5px 0px 0px #355655, 0px 8px 0px 0px rgba(0,0,0,.15);
  }

  .title h4{
    margin-top: auto;
  }

  .item {
    background: radial-gradient(circle at 74.2% 50.9%, rgb(55, 174, 138) 5.2%, rgb(3, 65, 22) 75.3%);    
    display: flex;
    align-items: center; /* Alinea los elementos verticalmente */
    width: 99%;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 2px;
    padding: 10px;
    cursor: pointer;
    height: 12px;
    text-shadow: rgba(0,0,0,.5) 0px -1px 0px;
    font-size: 15px;
    font-weight: 700;
  }

  .itemContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;  
    max-height: 21.5rem;
    overflow-y: auto;
  }

  /* Estilos personalizados para el scrollbar */
.itemContainer::-webkit-scrollbar {
  width: 6px; /* Ajusta el grosor del scrollbar */
}

.itemContainer::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color de fondo del track del scrollbar */
}

.itemContainer::-webkit-scrollbar-thumb {
  background-color: #138d75; /* Color del thumb (barra de desplazamiento) */
  border-radius: 10px; /* Bordes redondeados */
}

.itemContainer::-webkit-scrollbar-thumb:hover {
  background-color: #0b5345; /* Color del thumb al hacer hover */
}
  
  .friendName{
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }

  .friendName span{
    margin-left: 4rem;
  }
  
  .frienditem {
    height: auto;
    width: 98%;
    background: linear-gradient(to top, #77eda4 0%, #1c6021 100%);
    display: flex;
    align-items: center; /* Alinea los elementos verticalmente */
    margin: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 2px 10px 6px 10px;
    border-radius: 5px;
    cursor: pointer;
    -webkit-box-shadow: 0px -3px 0px 0px rgba(0,0,0,.3) inset, 0px 0px 0px 1px rgba(255,255,255,.2);
    -moz-box-shadow: 0px -3px 0px 0px rgba(0,0,0,.3) inset, 0px 0px 0px 1px rgba(255,255,255,.2);
    -ie-box-shadow: 0px -3px 0px 0px rgba(0,0,0,.3) inset, 0px 0px 0px 1px rgba(255,255,255,.2);
    box-shadow: 0px -3px 0px 0px rgba(0,0,0,.3) inset, 0px 0px 0px 1px rgba(255,255,255,.2);
    
  } 
  .viewport{
    background: linear-gradient(to top, #85c1e9  0%, #154360  100%);
  }

  .itemUser{
    height: auto;
    width: 99.6%;
    background: linear-gradient(to top, #85c1e9  0%, #154360  100%);
    display: flex;
    align-items: center; /* Alinea los elementos verticalmente */
    justify-content: space-between;
    padding: 2px 10px 6px 10px;
    margin-left: 1px;
    border-radius: 1rem 1rem 0 0;
    cursor: pointer;
    margin-bottom: 0;
  }
  
  .frienditem:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  }

  .frienditemHovered {
    background-color: #3498db; /* Cambia el color de fondo al pasar el ratón */
    color: #fff; /* Cambia el color del texto al pasar el ratón */
  }
  
  .userIcon {
    width: 40px;
    height: 40px;
    border: 2px solid #30407a;
    border-radius: 50%;
    margin-right: 5px; /* Espaciado entre el icono y el nombre */
  }

   .colRango{
     width: 20%;
   }
   .ColMedium{
    width: 55%;
  }
  .rango{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
  }
  .rango img{
    margin-top: auto;
  }
  .medallaIcon{
    width: 40px;
    height: 40px;
    margin-top: -2.5px;
  }

  .name{
    margin-top: 2px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .imageContainer {
    position: relative;
    width: 40px; /* Asegúrate de que ambos elementos ocupen todo el contenedor */
    height: 40px;
    margin-right: 5px;
  }
  
  .photo {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen para que se vea bien en el contenedor */
    z-index: 1; /* Foto en la capa inferior */
  }
  
  .marco {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta el marco para que coincida con la foto */
    z-index: 2; /* Marco en la capa superior */
  }

  .column{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: flex-start;
     width: 75%;
  }
  .column span{
    display: inline-block;
    text-align: start;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis !important;
    white-space: nowrap;
  }
  .containerInsignias{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bandera{
    width: 3rem;
  }
  .insignia{
    margin-top: -2px;
    width: 1.5rem;
    height: 1.5rem;
  }

  .friendRank{
    display: flex;
    justify-content: flex-end;
    width: 25%;
  }

  .puntuacion{
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .profile{
    margin-top: 5px;
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    border-width: 10px;
    border-style: solid;
    border-image: linear-gradient(109.5deg, rgb(13, 11, 136) 9.4%, rgb(86, 255, 248) 78.4%)1;  
    border-radius: inherit;
  }

  .profileLoading{
    margin-top: 5px;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color: grey;
    border: solid 10px #2E86C1;
  }
  
  .userprofileLoading{
    display: flex;
    flex-direction: column;
  }

  .userprofileLoading h3{
    margin-right: 60%;
  }
  .userprofile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }



  /* Estilos para el modal */
.modal {
  width: 30rem;
  height: 22rem;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: rgba(15, 10, 10, 0.646);
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  
}

.modal.show {
  display: block;
}

.modalContent {
  text-align: center;
  justify-content: center;
}

.modalImg {
  max-width: 20rem;
  border-radius: 8px;
}

.close{
  cursor: pointer;
  margin-left: 90%;
}

.close:hover{
  color:#3498db;
}

.modalButtons {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilos para los botones */
.button {
  background: linear-gradient(89deg, rgb(21, 74, 189) 0.1%, rgb(26, 138, 211) 51.5%, rgb(72, 177, 234) 100.2%);    padding: 10px 20px;
  color: #fff;
  padding: 8px 16px;
  margin: 0 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 95%;
  
}

.button:hover {
  background: linear-gradient(181deg, rgb(2, 0, 97) 15%, rgb(97, 149, 219) 158.5%);
  height: 2rem;
  width: 100%;
}

.gameOverModal {
    background: linear-gradient(110.2deg, rgb(54, 197, 240) 8.2%, rgb(74, 21, 75) 92.4%);  padding: 20px;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 20rem;
  border: solid 5px #30407a;
}

.gameOverModal h2 {
  color: #90CAF9; 
}
.gameOverModal p {
  margin-top: 10px;
}

.buttons{
  display: flex;
}

.gameOverModal button {
  font-weight: bold;
  width: 8rem;
  background: linear-gradient(89deg, rgb(21, 74, 189) 0.1%, rgb(26, 138, 211) 51.5%, rgb(72, 177, 234) 100.2%);    padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  margin: 5px;
}

.gameOverModal button:hover {
  background: linear-gradient(67.6deg, rgb(225, 242, 254) -2.8%, rgb(193, 224, 250) 44.6%, rgb(19, 116, 197) 102.4%);
   width: 8.1rem;
}

/* Agrega esta clase para la superposición de fondo detrás del modal */
.overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  position: fixed; /* Para que cubra toda la ventana, incluso si se desplaza */
  z-index: 9999;
}

.profileSidebar{
    margin-top: 5px;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border-width: 10px;
    border-style: solid;
    border-image: linear-gradient(109.5deg, rgb(13, 11, 136) 9.4%, rgb(86, 255, 248) 78.4%)1;  
    border-radius: inherit;
    margin-bottom: 5px;
  }
  
  .userprofile {
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px;
  }

  .username{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    width: 80%;
  }

  .bandera{
    width: 1rem;
    height: 1rem;
    margin-right: 5px;
  }

  .area{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 5px;
    width: 100%;
  }

  .subArea{
    display: grid;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 5px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .subArea span{
    margin-left: 5px;
  }

  .historial{
    margin-top: 10px;
  }

  .historial button{
    background: #3498db;
    display: flex;
    margin: 0;
    width: 100%;
    height: 2rem;
  }

  .historial button:hover{
    width: 100%;
    box-shadow: none;
    background: #30407a !important;
  }

  .historial p{
    margin-left: 10px;
    margin-top: -5px;
  }

  .containerpartida{
    display: flex; /* Utilizamos Flexbox */
    justify-content: space-between; /* Distribuye los elementos a lo largo del contenedor */
    align-items: center; /* Centra los elementos verticalmente */
    margin-bottom: 2px; 
    height: 4rem;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .gameType{
    display: block;
    margin-left: 5px;
  }

  .datos{
    width: 9rem;
    height: 2rem;
    display: flex;
    align-items: center;
  }
  .datos img{
    width: 1rem;
    height: .8rem;
    margin-left: 5px;
    margin-top: -2px;
  }
  .result{
    height: 100%;
    width: 3rem;
    display: flex;
    align-items: center;
  }
  .valors{
    height: 100%;
    margin-top: -20px;
  }
  .estado{
    width: 100%;
    margin-top: -5px;
  }
  /* @media (max-width: 800px){
     .title h4{
        margin-top: -1rem;
     }
  } */
  @media (max-width: 690px){
    .tercerdiv {
      margin: 0;
      margin-top: 2rem;
      padding: 2px;
      width: 28rem;
      height: 90%;
    }
    .title h4{
      margin-top: 2px;
   }
  }

  @media (max-width: 580px){
    .tercerdiv {
      padding: 0;
      width: 25rem;
      height: 30rem;
    }
  }

  @media (max-width: 520px){
    .tercerdiv {
      width: 20rem;
    }
    .puntuacion{
      width: 1.8rem;
    }
  }

  @media (max-width: 405px){
    .tercerdiv {
      padding: 0;
      width: 18rem;
      height: 30rem;
    }
  }