.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Asegúrate de que esté encima del resto del contenido */
  }
  
  .modalAlert {
    width: 100%;
    max-width: 500px; /* Limita el ancho máximo del Alert */
    padding: 0 15px;
  }
  