.modal {
    width: 20rem;
    height: auto;
    display: none;
    position: fixed;
    padding-bottom: 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #CFD8DC;  
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    
  }
  .modal h3{
    color: rgb(23, 29, 29);
  }
 
.modal.show {
    display: block;
}

.header{
    background: radial-gradient(circle at 1.8% 4.8%, rgb(17, 23, 58) 0%, rgb(58, 85, 148) 90%);
    border-radius: 1rem 1rem 0 0;
    height: 6rem;
    padding: .5rem 1rem 1rem 1rem; 
}

.header span {
    color: #fff;
    margin-top: -1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: rgba(0,0,0,.5) 0px -1px 0px;
    font-size: 25px;
    font-weight: 800;
  }
  
  .circle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
   }

  .inf{
    cursor: pointer;
    color: #fff;
  }

  .username{
    margin-top: -1rem;
  }
  
  
  
  .close{
    cursor: pointer;
    margin-left: 90%;
    color: #fff;
  }
  
  .close:hover{
    color:#3498db;
  }

  .containerMoneda{
    background: rgba(0,0,0,.3);
    box-shadow: 0px -3px 0px 0px rgba(0,0,0,.2) inset, 0px 0px 0px 1px rgba(255,255,255,.2);
    width: 100%;
    height: 1.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: .4rem .4rem .4rem .4rem;
  }
  .containerMoneda img{
    width: 25px;
    height: 25px;
  }
  .dinero{
    width: 100%;
    padding: 3px;
    display: flex;
    justify-content: flex-start;
    margin-left: .2rem;
  }
  .dinero span{
    margin-top: auto;
    margin-right: 5px;
    color: #fff;
    text-shadow: rgba(0,0,0,.7) 0px -1px 0px;
    font-size: 16px;
    font-weight: 700;
  }

  .moneda{
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.15);
    height: 3rem;
    width: 50%;
    border-radius: .5rem;
  }
  .moneda span{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 32px; /* Tamaño de la fuente */
    color: white; /* Color del texto */
    font-weight: 800;
    -webkit-text-stroke: 1.5px rgb(58, 85, 148); /* Bordes del texto (solo en navegadores WebKit) */
    text-shadow: 
    2.5px 2.5px 0 rgba(0, 0, 0, 0.4),  /* Sombra desfasada a la derecha y abajo */
    -1px -1px 0 rgba(0, 0, 0, 0.4), /* Sombra desfasada a la izquierda y arriba */
    1px -1px 0 rgba(0, 0, 0, 0.4),  /* Sombra desfasada a la derecha y arriba */
    -1px 1px 0 rgba(0, 0, 0, 0.4);
  }
  .moneda img{
    height: 100%;
  }

  .modalContent {
    text-align: center;
    justify-content: center;
  }

  .profile{
    margin-top: 5px;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border-width: 10px;
    border-style: solid;
    border-image: linear-gradient(109.5deg, rgb(13, 11, 136) 9.4%, rgb(86, 255, 248) 78.4%)1;  
    border-radius: inherit;
  }

  .imageContainerModal {
    position: relative;
    width: 10rem; /* Asegúrate de que ambos elementos ocupen todo el contenedor */
    height: 10rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .photoImage {
    top: 0;
    left: 0;
    border-radius: 50%;
    width: 96%;
    height: 96%;
    object-fit: cover; /* Ajusta la imagen para que se vea bien en el contenedor */
    z-index: 1; /* Foto en la capa inferior */
  }
  
  .marco {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta el marco para que coincida con la foto */
    z-index: 2; /* Marco en la capa superior */
  }

  .text{
    color: #154360;
    font-weight: bold;
  }

  .valor{
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  /*boton triangular*/
  .polygon{
    background: none;
    border: none;
    padding: 0;
  }
  .polygon svg {
    width: 40px;
    cursor: pointer;
  }
  .polygon svg:hover{
      transition: 0.5s;
      transform: scale(1.1);
  }

  .modalButtons {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button {
    background: radial-gradient(circle at 1.8% 4.8%, rgb(17, 23, 58) 0%, rgb(58, 85, 148) 90%);
    color: #fff;
    padding: 8px 8px;
    margin: 0 8px;
    margin-bottom: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 8rem;
    height: 2.5rem;
    box-shadow: 0px -4px 0px 0px rgba(0,0,0,.3) inset, 0px 0px 0px 1px rgba(255,255,255,.2);
    display: flex;
    justify-content: center;
    font-weight: bold;
  }
  
  .button:hover {
    background: linear-gradient(181deg, rgb(0, 39, 97) 15%, rgb(69, 134, 219) 158.5%);
    height: 2.7rem;
    width: 8.2;
  } 

  .userprofileLoading{
    display: flex;
    flex-direction: column;
  }

  .userprofileLoading h3{
    margin-right: 60%;
  }

  .userprofile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }