@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.li{
  margin-top: 50px;
}
.link-li{
  text-decoration: none;
  color: #fff;
  margin: 5px 10px;
}
.navbar {
    background-color: #333;
    color: #fff;
    width: 200px;
    height: 100%;
    padding: 20px;
    position: fixed; 
    left: 0; 
    top: 0; 
    margin: 0; 
    transition: transform 2s ease;
    transform: translateX(-220px);
  }

  .navbar.active {
    transform: translateX(0);
  }

  .navbar-toggle {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
    z-index: 1;
  }
  .hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
    z-index: 1;
  }
  .line {
    width: 100%;
    height: 3px;
    background-color: #fff;
    transition: transform 0.3s ease;
  }
  .hamburger-menu:hover .line{
    background-color: #df5f23;
  }
  .AiOutlineClose{
    color: white;
    width: 100px;
    height: 100px;
  }
  
  
  
  .navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 20px;
  }
  
  .navbar li {
    margin-bottom: 10px;
  }
  
  .navbar li:hover {
    background-color: #555;
    cursor: pointer;
  }
  
  .content {
    margin-left: 220px; 
    padding: 20px;
  }
  
  
  .color-options {
    margin: 3%;
    display: flex;
    flex-wrap: wrap;
  }
  
  .color-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 20px;
}

.color-row {
  display: flex;
  align-items: center;
}
.color-board {
  width: 25px; /* Ajusta el tamaño según tus preferencias */
  height: 25px; /* Ajusta el tamaño según tus preferencias */
  border: 1px solid #000;
  cursor: pointer;
}

.even {
  margin-right: 0; /* Elimina el margen derecho en los índices pares (0, 2, 4, etc.) */
}

.odd {
  margin-right: 20px; /* Restablece el margen derecho en los índices impares (1, 3, 5, etc.) */
}
.color-option.selected .color-board {
  border: 2px solid #FF0000;
}

.color-preview {
  display: flex;
  margin-top: 10px;
}

.closeButton {
  margin: auto;
  width: 25px; /* Ajusta el ancho del botón según tus necesidades */
  height: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile{
  margin-top: 15px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: grey;
  border: solid 10px rgb(68, 68, 193);
}

.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-name {
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
  color: #fff;
}